body {
    background-color: #f6f4f4;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image:url("bg.avif");
}

.container {
    background-color: #c39292;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(224, 111, 111, 0.1);
    display: flex;
    padding: 40px;
    width: 80%;
    max-width: 800px;
    
    
}

.left {
    width: 50%;
    padding: 20px;
}

.right {
    padding: 100px 60px;
    /* Pink background */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #575454;
    text-align:center ;
}

.right img {
    width: 300px;
    
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight:none;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #6dbcd9; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #bc6161; 
}

a {
    color: #0d0207; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
